version: 2.1

orbs:
  buildevents: honeycombio/buildevents@0.0.3

executors:
  linuxgo:
    working_directory: /go/src/github.com/honeycombio/buildevents
    docker:
      - image: circleci/golang:1.10

jobs:
  setup:
    executor: linuxgo
    steps:
      - buildevents/start_trace
  test:
    executor: linuxgo
    steps:
      - buildevents/with_job_span:
          steps:
            - checkout
            ## method 1 to send a command span
            ## buildevent/berun is a circleci friendly way to create a buildevents command span
            - buildevents/berun:
                bename: go_test
                becommand: go test -v ./...
  build:
    executor: linuxgo
    steps:
      - buildevents/with_job_span:
          steps:
            - checkout
            ## method 2 to send a command span
            ## the raw buildevents binary is also available in the $PATH but requires more arguments
            - run: buildevents cmd $CIRCLE_WORKFLOW_ID $BUILDEVENTS_SPAN_ID go_install -- go install -ldflags "-X main.Version=${CIRCLE_TAG}" ./...
            - run: mkdir -v artifacts; cp -v $GOPATH/bin/buildevents artifacts/
            - persist_to_workspace:
                root: artifacts
                paths:
                  - buildevents
            - store_artifacts:
                path: artifacts/
  publish:
    docker:
      - image: cibuilds/github:0.12.1
    steps:
      - attach_workspace:
          at: artifacts
      - run:
          name: "Publish Release on GitHub"
          command: |
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG} ./artifacts/buildevents
  final:
    executor: linuxgo
    steps:
      - buildevents/finish_trace:
          result: success

workflows:
  build:
    jobs:
      - setup:
          filters:
            tags:
              only: /.*/
      - test:
          requires:
            - setup
          filters:
            tags:
              only: /.*/
      - build:
          requires:
            - test
          filters:
            tags:
              only: /.*/
      - publish:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - final:
          requires:
            - build
          filters:
            tags:
              only: /.*/

